* {
    margin: 0;
    padding: 0;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flex1 {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 7rem;
    margin-top: 3rem;
}

.flex2 {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 7rem;
    margin-top: 3rem;
}

.line {
    margin-right: 8.5rem;
    margin-left: 8rem;
}

.g20 {
    padding-top: 2%;
}

.navbar {
    padding: 0 7rem 0 7.5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.items {
    padding-left: 1rem;
    padding-right: 1rem;
    background-clip: border-box;
}

.items:hover div {
    background-color: #f0f1f6;
}

.list {
    display: none;
}
